body{
    background-color: aqua;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    font-size: 40;
    font-weight: 800;
}

.menu {
    list-style-type: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px
}